@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

.center{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{clear: both;}

header{
    background: #5e3ea1;
}

header > .center{
    display: flex;
}

.logo{
    color: white;
    font-size: 21px;
    width: 50%;
}

.menu{
    width: 50%;
    text-align: right;
}

.menu-mobile{display: none;}

.menu ul{list-style-type: none;}

.menu li{
    margin-right: 10px;
    font-size: 15px;
    display: inline-block;
}

.menu a{
    color: white;
}

section.texto-chamada{
    background: #4c3282;
    padding: 30px 0;
    text-align: center;
    color: white;
    z-index: 2;
}

section.texto-chamada i{
    font-size: 40px;
}

section.texto-chamada h2,
section.texto-chamada h3{
    font-weight: normal;
}

section.texto-chamada h2 > b{
    color: rgb(231, 66, 107);
}

section.loja{
    padding: 30px 0;
}

section.loja > .center{
    display: flex;
    flex-wrap: wrap;
}

.loja-wrapper{
    padding: 30px;
    width: 33.3%;
}

.box-single-loja{
    height: 100%;
    border: 1px solid rgb(200, 200, 200);
}

.box-single-loja img{
    width: 100%;
}

.box-single-loja h2{
    text-align: center;
    padding: 0 8px;
    font-weight: normal;
}

.box-single-loja p{
    padding: 15px 8px;
    font-size: 15px;
    color: rgb(10, 10, 10);
}

.loja-wrapper a{
    color: white;
    background: #5fb382;
    padding: 10px 8px;
    text-align: center;
    display: block;
    width: 100%;
}

@media screen and (max-width: 768px){
    .loja-wrapper{
        width: 100%;
        max-width: 500px;
        padding: 20px;
        margin: 30px auto;
    }

    .logo{
        width: 100%;
        text-align: center;
    }

    .menu{
        display: none;
    }

    .menu-mobile{
        display: block;
    }

    .menu-mobile i{
        color: white;
        font-size: 25px;
        position: relative;
    }

    .menu-mobile ul{
        display: none;
        width: 100%;
        list-style-type: none;
        position: absolute;
        left: 0;
        top: 25px;
        text-align: center;
        background: #6a4ea1;
        z-index: 999;
    }

    .menu-mobile li{
        padding: 8px 0;
        border-bottom: 1px solid black;
    }

    .menu-mobile a{
        color: white;
    }
}