nav ul a,
nav .brand-logo {
  color: white;
}

.sect1{
  position: relative;
  min-height: 400px;
}

.form-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 15px 2%;
  width: 100%;
  max-width: 700px;
}

.custom-title{
  position: relative;
}

.custom-title h2{
  font-size: 26px;
  color: #777;
  z-index: 2;
  background: white;
  padding-right: 10px;
  position: relative;
  display: inline-block;
}

.custom-title > div{
  width: 100%;
  position: absolute;
  height: 3px;
  background: #777;
  z-index: 1;
  top: 55px;
  left: 0;
}

.offset-equipe{
  position: relative;
  top: 83px;
}

@media screen and (max-width: 599px){
  .offset-equipe{
    position: relative;
    top: 0;
  }
}